In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
PPD = pd.read_csv("player_pos_data.csv")
PPD.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)
PPD.set_index("Id", inplace = True)
PPD.head()

    player_id  position  position2
Id
1           1       1.0        NaN
2           2       2.0        1.0
3           3       1.0        NaN
4           4       2.0        1.0
5           5       5.0        NaN

In [14]:
PPD.shape

(1376, 3)

In [26]:
PPD.isnull().sum()

player_id      0
position       2
position2    874
dtype: int64

In [15]:
PRD = pd.read_csv("player_reb_data.csv")
PRD.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)
PRD.set_index("Id", inplace = True)
PRD.head()

,player_id,games,minutes,off_rebs,def_rebs,off_rebchances,def_rebchances
Id,,,,,,,
1,39,50,856.516667,33,222,744,759
2,166,54,1680.123333,39,210,1638,1461
3,317,70,1962.798333,148,474,1706,1805
4,251,214,3987.693333,95,441,3715,3584
5,10,187,4956.941667,85,978,4581,4379

In [16]:
PRD.shape

(1007, 7)

In [27]:
PRD.isnull().sum()

player_id         0
games             0
minutes           0
off_rebs          0
def_rebs          0
off_rebchances    0
def_rebchances    0
dtype: int64

In [17]:
loc_test = pd.read_csv("testing_data_loc.csv")
loc_test.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)
loc_test.set_index("Id", inplace = True)
loc_test.head()

,game_id,playbyplayorder_id,row_type,AtShot_loc_x_off_player_1,AtShot_loc_y_off_player_1,AtRim_loc_x_off_player_1,AtRim_loc_y_off_player_1,AtShot_loc_x_off_player_2,AtShot_loc_y_off_player_2,AtRim_loc_x_off_player_2,...,AtRim_loc_x_def_player_3,AtRim_loc_y_def_player_3,AtShot_loc_x_def_player_4,AtShot_loc_y_def_player_4,AtRim_loc_x_def_player_4,AtRim_loc_y_def_player_4,AtShot_loc_x_def_player_5,AtShot_loc_y_def_player_5,AtRim_loc_x_def_player_5,AtRim_loc_y_def_player_5
Id,,,,,,,,,,,,,,,,,,,,,
1,4,595,shot,-19.027053,19.871164,-19.561299,18.261468,-28.772848,-20.131305,-25.062257,...,-37.198845,-17.366327,-40.893383,5.999704,-40.185606,3.857986,-41.937047,0.940924,-41.128611,-0.126855
2,4,596,shot,-31.241325,-16.557071,-28.321632,-15.065638,-16.253902,-0.423465,-12.688562,...,-38.935461,-3.489779,-35.476110,-7.463574,-36.617299,-5.663391,-25.744579,2.007568,-26.997568,0.148252
3,4,597,shot,-19.010274,-13.595167,-12.321997,-9.573885,-33.948531,12.760393,-26.410282,...,-30.802708,6.006223,-25.341379,-1.232503,-28.746937,-1.924971,-37.276387,4.779776,-41.756499,5.591011
4,4,598,shot,-33.708835,-13.357808,-29.629455,-16.061489,-40.948591,22.274634,-35.058592,...,-34.623914,-1.302901,-35.477993,-6.979465,-36.038071,-9.675009,-27.585973,11.054745,-29.002834,9.131641
5,4,599,shot,-14.256493,5.269441,-13.189371,2.904353,-46.556349,4.344373,-42.790092,...,-44.305512,-1.282830,-37.705134,-9.482981,-39.735703,-5.733037,-39.595369,5.797657,-34.375548,6.279269

In [18]:
loc_test.shape

(390550, 43)

In [28]:
loc_test.isnull().sum()

game_id                          0
playbyplayorder_id               0
row_type                         0
AtShot_loc_x_off_player_1    42689
AtShot_loc_y_off_player_1    42689
AtRim_loc_x_off_player_1     57537
AtRim_loc_y_off_player_1     57537
AtShot_loc_x_off_player_2    42688
AtShot_loc_y_off_player_2    42688
AtRim_loc_x_off_player_2     57536
AtRim_loc_y_off_player_2     57536
AtShot_loc_x_off_player_3    42689
AtShot_loc_y_off_player_3    42689
AtRim_loc_x_off_player_3     57537
AtRim_loc_y_off_player_3     57537
AtShot_loc_x_off_player_4    42689
AtShot_loc_y_off_player_4    42689
AtRim_loc_x_off_player_4     57537
AtRim_loc_y_off_player_4     57537
AtShot_loc_x_off_player_5    42714
AtShot_loc_y_off_player_5    42714
AtRim_loc_x_off_player_5     57557
AtRim_loc_y_off_player_5     57557
AtShot_loc_x_def_player_1    42689
AtShot_loc_y_def_player_1    42689
AtRim_loc_x_def_player_1     57537
AtRim_loc_y_def_player_1     57537
AtShot_loc_x_def_player_2    42688
AtShot_loc_y_def_player_2    42688
AtRim_loc_x_def_player_2     57536
AtRim_loc_y_def_player_2     57536
AtShot_loc_x_def_player_3    42689
AtShot_loc_y_def_player_3    42689
AtRim_loc_x_def_player_3     57536
AtRim_loc_y_def_player_3     57536
AtShot_loc_x_def_player_4    42686
AtShot_loc_y_def_player_4    42686
AtRim_loc_x_def_player_4     57534
AtRim_loc_y_def_player_4     57534
AtShot_loc_x_def_player_5    42720
AtShot_loc_y_def_player_5    42720
AtRim_loc_x_def_player_5     57565
AtRim_loc_y_def_player_5     57565
dtype: int64

In [19]:
pbp_test = pd.read_csv("testing_data_pbp.csv")
pbp_test.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)
pbp_test.set_index("Id", inplace = True)
pbp_test.head()

,game_id,playbyplayorder_id,row_type,off_team_id,def_team_id,home_team_id,away_team_id,ftmade,ftmissed,fg2made,...,playerid_off_player_1,playerid_off_player_2,playerid_off_player_3,playerid_off_player_4,playerid_off_player_5,playerid_def_player_1,playerid_def_player_2,playerid_def_player_3,playerid_def_player_4,playerid_def_player_5
Id,,,,,,,,,,,,,,,,,,,,,
1,5838,1148157,shot,1,3,1,3,0,0,1,...,4,162,196,260,192,18,92,212,874,166
2,4902,964867,final ft,8,3,8,3,0,1,0,...,355,61,15,137,410,376,135,928,818,166
3,6918,1359847,shot,11,3,11,3,0,0,0,...,81,186,311,228,854,357,55,20,204,166
4,1429,281709,shot,28,3,3,28,0,0,1,...,103,108,112,290,378,357,55,20,204,166
5,6007,1181434,shot,7,3,3,7,0,0,0,...,49,153,298,878,475,18,214,23,874,166

In [20]:
pbp_test.shape

(390550, 31)

In [29]:
pbp_test.isnull().sum()

game_id                  0
playbyplayorder_id       0
row_type                 0
off_team_id              0
def_team_id              0
home_team_id             0
away_team_id             0
ftmade                   0
ftmissed                 0
fg2made                  0
fg2missed                0
fg2attempted             0
fg3made                  0
fg3missed                0
fg3attempted             0
secondchance             0
andone                   0
inbonus                  0
eventdescription         0
actiondescription        0
shooter_player_id        0
playerid_off_player_1    0
playerid_off_player_2    0
playerid_off_player_3    0
playerid_off_player_4    0
playerid_off_player_5    0
playerid_def_player_1    0
playerid_def_player_2    0
playerid_def_player_3    0
playerid_def_player_4    0
playerid_def_player_5    0
dtype: int64

In [21]:
loc_train = pd.read_csv("training_data_loc.csv")
loc_train.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)
loc_train.set_index("Id", inplace = True)
loc_train.head()

,game_id,playbyplayorder_id,row_type,AtShot_loc_x_off_player_1,AtShot_loc_y_off_player_1,AtRim_loc_x_off_player_1,AtRim_loc_y_off_player_1,AtShot_loc_x_off_player_2,AtShot_loc_y_off_player_2,AtRim_loc_x_off_player_2,...,AtRim_loc_x_def_player_3,AtRim_loc_y_def_player_3,AtShot_loc_x_def_player_4,AtShot_loc_y_def_player_4,AtRim_loc_x_def_player_4,AtRim_loc_y_def_player_4,AtShot_loc_x_def_player_5,AtShot_loc_y_def_player_5,AtRim_loc_x_def_player_5,AtRim_loc_y_def_player_5
Id,,,,,,,,,,,,,,,,,,,,,
1,8,1379,shot,-43.648817,-21.886196,-42.289158,-22.517425,-39.060457,-6.256763,-37.986458,...,-37.699404,-5.352922,-37.297139,0.203133,-36.933941,-0.336016,-42.696037,-9.402359,-41.918629,-8.539802
2,8,1380,shot,-41.179048,-23.891722,-37.122629,-23.177840,-40.540140,22.875044,-38.674739,...,-39.016553,3.298064,-39.567045,-2.037872,-39.988985,-0.909305,-40.790796,14.652964,-40.390343,13.323796
3,8,1381,shot,-44.880723,-23.307184,-44.240890,-21.381771,-43.861148,2.653954,-41.780069,...,-42.475850,3.011978,-41.932962,-7.616737,-41.760967,-4.860211,-28.924595,-7.303918,-30.620121,-8.088317
4,8,1382,shot,-36.324736,23.242563,-30.859169,18.254055,-41.560159,-15.662187,-42.533999,...,-38.344859,-3.909418,-40.504097,13.970456,-37.996230,9.926756,-34.313047,-17.530376,-36.845039,-17.290519
5,8,1383,shot,-27.609036,-6.286383,-19.092240,-7.244735,-19.579963,-15.127800,-11.755558,...,-33.070691,-8.653539,-41.034914,3.981984,-39.006937,4.605167,-36.231217,-2.679454,-40.551412,-5.541517

In [22]:
loc_train.shape

(372181, 43)

In [30]:
loc_train.isnull().sum()

game_id                          0
playbyplayorder_id               0
row_type                         0
AtShot_loc_x_off_player_1    39798
AtShot_loc_y_off_player_1    39798
AtRim_loc_x_off_player_1     54265
AtRim_loc_y_off_player_1     54265
AtShot_loc_x_off_player_2    39791
AtShot_loc_y_off_player_2    39791
AtRim_loc_x_off_player_2     54257
AtRim_loc_y_off_player_2     54257
AtShot_loc_x_off_player_3    39789
AtShot_loc_y_off_player_3    39789
AtRim_loc_x_off_player_3     54256
AtRim_loc_y_off_player_3     54256
AtShot_loc_x_off_player_4    39790
AtShot_loc_y_off_player_4    39790
AtRim_loc_x_off_player_4     54257
AtRim_loc_y_off_player_4     54257
AtShot_loc_x_off_player_5    39813
AtShot_loc_y_off_player_5    39813
AtRim_loc_x_off_player_5     54274
AtRim_loc_y_off_player_5     54274
AtShot_loc_x_def_player_1    39789
AtShot_loc_y_def_player_1    39789
AtRim_loc_x_def_player_1     54256
AtRim_loc_y_def_player_1     54256
AtShot_loc_x_def_player_2    39792
AtShot_loc_y_def_player_2    39792
AtRim_loc_x_def_player_2     54258
AtRim_loc_y_def_player_2     54258
AtShot_loc_x_def_player_3    39789
AtShot_loc_y_def_player_3    39789
AtRim_loc_x_def_player_3     54256
AtRim_loc_y_def_player_3     54256
AtShot_loc_x_def_player_4    39791
AtShot_loc_y_def_player_4    39791
AtRim_loc_x_def_player_4     54258
AtRim_loc_y_def_player_4     54258
AtShot_loc_x_def_player_5    39817
AtShot_loc_y_def_player_5    39817
AtRim_loc_x_def_player_5     54277
AtRim_loc_y_def_player_5     54277
dtype: int64

In [23]:
pbp_train = pd.read_csv("training_data_pbp.csv")
pbp_train.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)
pbp_train.set_index("Id", inplace = True)
pbp_train.head()

,game_id,playbyplayorder_id,row_type,f.oreb,reboffensive,rebdefensive,off_team_id,def_team_id,home_team_id,away_team_id,...,playerid_off_player_1,playerid_off_player_2,playerid_off_player_3,playerid_off_player_4,playerid_off_player_5,playerid_def_player_1,playerid_def_player_2,playerid_def_player_3,playerid_def_player_4,playerid_def_player_5
Id,,,,,,,,,,,,,,,,,,,,,
1,3380,665919,shot,No,0,1,25,3,25,3,...,59,194,624,418,326,357,55,20,204,166
2,2316,456069,shot,NaN,0,0,12,3,3,12,...,87,124,283,916,487,20,204,376,818,166
3,6244,1227471,shot,Yes,1,0,28,3,3,28,...,103,108,161,112,290,22,92,212,269,166
4,5349,1052145,shot,No,0,1,6,3,6,3,...,41,180,372,964,374,18,22,92,212,166
5,7411,1455880,shot,No,0,1,13,3,3,13,...,91,165,93,229,367,18,22,212,874,166

In [24]:
pbp_train.shape

(372181, 35)

In [32]:
pbp_train.isnull().sum()

game_id                       0
playbyplayorder_id            0
row_type                      0
f.oreb                   187834
reboffensive                  0
rebdefensive                  0
off_team_id                   0
def_team_id                   0
home_team_id                  0
away_team_id                  0
ftmade                        0
ftmissed                      0
fg2made                       0
fg2missed                     0
fg2attempted                  0
fg3made                       0
fg3missed                     0
fg3attempted                  0
secondchance                  0
andone                        0
inbonus                       0
eventdescription              0
actiondescription             0
shooter_player_id             0
reb_player_id            205556
playerid_off_player_1         0
playerid_off_player_2         0
playerid_off_player_3         0
playerid_off_player_4         0
playerid_off_player_5         0
playerid_def_player_1         0
playerid_def_player_2         0
playerid_def_player_3         0
playerid_def_player_4         0
playerid_def_player_5         0
dtype: int64